EMAIL_BACKEND=smtp
SMTP_HOST=<host smtp>
SMTP_PORT=<puerto smtp>
SMTP_USER=<correo no reply>
SMTP_FROM=<correo no reply>
SMTP_TLS=False
SMTP_SSL=True
EMAIL_BANNER_URL=<url banner>

DB_USER=<user>
DB_PASS=<password>
DB_HOST=<host>
DB_PORT=5432
DB_NAME=whisper-saas
DB_DRIVER=postgresql+psycopg